
html{
  background-color:burlywood;
}

.delete-menu-button{
  margin:0.5rem;
}

#menuid{
    width:50%;
    margin:1rem;
    
}

.menu-container{
  display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 2rem;
    border:2px solid black;
    border-radius:10px;
    padding:2rem;
    background-color: white;

}

.update-menu-title{
  text-align:center;
  font-family: 'Playfair Display', serif;
}

.menu-item{
  border: 2px solid black;
  padding:1rem;
  border-radius: 2rem;
  margin:1rem;
}

.edit-menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    border:2px solid black;
    border-radius:10px;
    padding:2rem;
    background-color: white;

  }

  .edit-menu-item-title{
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 80%;
    max-width: 600px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .error{
    font-family: 'Lora', serif;
    font-style:italic;
    border:2px solid black;
    border-radius: 1rem;
    padding:0.5rem;
    background-color: white;
    

  }

  .update-menu-item-error{
    font-size:1rem;
    opacity:0;
    animation-name:pulsate;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-fill-mode:forwards;
  }
  
   @keyframes pulsate{
    0%{opacity:0}
    100%{opacity:1}
   }

   .delete-text{
        font-family: 'Playfair Display', serif;

   }
  
   #item-id{
    color: red;
   }
  

  

  

  
  label {
      margin-bottom: 0.5em;
}
  
 

  
