
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #8d764b;
  padding: 20px;
  width: 100%;
  margin-top: auto;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.social-links i {
  font-size: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

