

html{
    background-image: linear-gradient(to right, rgba(99, 18, 18, 0.649) , rgb(75, 29, 6));
}

.signin-link-button , .ourmenu-link-button {
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
   width: 120px;
   display:flex;
   justify-self: space-around;
   

}