.profile,
.orders,
.update-form {
	margin: 60px auto;
	max-width: 525px;
	background-color: burlywood;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.profile h2,
.orders h2 {
	background-color: rgb(136, 77, 0);
	color: white;
	font-size: 2rem;
	margin-bottom: 10px;
	padding: 1rem;
}

.group {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	padding: 20px;
}

.profile p,
.orders p {
	margin: 0;
	line-height: 1.5;
	margin-bottom: 10px;
}

.profile span,
.orders span {
	color: rgb(136, 77, 0);
	font-weight: bold;
	margin-right: 5px;
}

.profile button,
.update-form button {
	display: block;
	background-color: rgb(136, 77, 0);
	font-weight: bold;
	margin: 20px auto;
}
