.order-placed {
 font-family: 'Playfair Display', serif;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 75vh;
  opacity:0;
  animation-name: fadeIn;
  animation-duration:1s;
  animation-iteration-count: 1;
  animation-delay:0.5s;
  animation-fill-mode: forwards;

}


@keyframes fadeIn{
  0%{opacity:0}
  100%{opacity:100}
}