.signup-form {
	margin: auto;
	max-width: 525px;
	padding: 20px;
	padding-top:10px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #fff;
	border:2px solid black;
	border-radius: 10px;
}

.signup-form .group {
	margin-bottom: 15px;
}

.signup-form .group label,
.signup-form .group input {
	width: 100%;
	display: block;
}

.signup-form .group input {
	
	margin-bottom: -1em;
	border: 2px solid black;
	font-size: 1.2em;
	box-shadow: 1px 1px 1px;
}
	


.signup-form .group label {
	color: black;
	font-size: 15
}

.signup-form button {
	display: block;
	margin: auto;
	
	cursor: pointer;
}

.error-message {
	color: rgb(223, 32, 32);
	font-weight: 500;
}

.success-message {
	color: rgb(97, 158, 11);
}

.sign-up-title{
	text-align:center;
  font-family: 'Playfair Display', serif;
}

.signup-form .sign-up-title {
	margin-bottom: -20px; 
  }